/*Página Carreras*/
/*Header*/
.tituloCarreras {


    color: rgb(255, 246, 192);
    background-color: rgba(0, 0, 0, 0.24);
    width: 100%;
    font-weight: 500;
    font-size: 11vh;
    text-align: center;
    margin: 0%;
    padding: 1% 0;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgb(255, 246, 192);
    border-top: 2px solid rgb(255, 246, 192);
    @include pabsolute(15%, 0%);
}
