.derechos {

    padding: 0;
    margin: 0;
    font-size: 2vh;
    color: rgb(27, 27, 27);
    background-color: rgba(235, 235, 235, 0.322);

}

.logoig {

    width: 15vh;
    padding: 0;
    margin: 15px;

}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: absolute;
    width: 100%;
    bottom: 0;
    
}


