.formUsuario {
    background-color: rgba(0, 0, 0, 0.473);
    padding: 15px;
    height: 290px;
    width: 360px;
    margin-top: 15%;
    margin-left: 2%;
}

.form-text {
    background-color: rgba(255, 255, 255, 0.644);
    position: absolute;
    margin: -29px 0px 0px 90px;
}