.tituloPrincipal {
    color: rgb(255, 246, 192);
    background-color: rgba(0, 0, 0, 0.24);
    width: 100vw;
    
    font-weight: 700;
    font-size: 13vh;
    
    margin-top: 30vh;
    padding: 2% 0;
    backdrop-filter: blur(10px);
    position: absolute;
    
    border-bottom: 2px solid rgb(255, 246, 192);
    border-top: 2px solid rgb(255, 246, 192);
    display: flex;
    justify-content: center;
    align-items: center;
}


.descripcionRun{
    width: 60%;
    @include pabsolute(65%, 20%);
    text-align: center;
    
}
.descripcionRunP{
    color: rgb(255, 246, 192);
    background-color: rgba(24, 23, 10, 0.877);
    border-radius: 10px;
}
