.fondo1 {
    background-image: url(../imagenes/fondomaratonbsas.jpg);
    height: 100vh;
    @extend %fondos;
}

.fondo2 {
    background-image: url(../imagenes/keniacorrebsas.jpg);
    height: 100vh;
    @extend %fondos;
}

.fondo3 {
    background-image: url(../imagenes/fondo3.webp);
    height: 100vh;
    @extend %fondos;
}

.fondo4 {
    background-image: url(../imagenes/tecnica.jpg);
    height: 100vh;
    @extend %fondos;
}

.fondo5 {
    background-image: url(../imagenes/usuariofondo.avif);
    height: 100vh;
    @extend %fondos;
}

.fondo6 {
    background-image: url(../imagenes/pistalp.jpeg);
    height: 100vh;
    @extend %fondos;
}